/* -----------------------------------------------------------
	common
----------------------------------------------------------- */
body {
  background-color: #2b2b2b;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
br {
  margin: 0;
  padding: 0;
}

a,
button,
.btn {
  transition: all 0.4s ease;
}

a {
  text-decoration: none;
}

.over {
  transition: all 0.4s ease;
}
.over:hover {
  opacity: 0.7;
}

.container {
  min-width: 1170px;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
}
@media only screen and (max-width: 991px) {
  .container {
    padding: 0px 72px;
    min-width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 575px) {
  .container {
    padding: 0px 30px;
    min-width: 100%;
    max-width: 100%;
  }
}

.list-style-none {
  list-style: none !important;
}

.text-primary {
  color: #2c5b90 !important;
}

.btn-primary {
  padding: 20px 50px;
  display: flex;
  align-items: center;
  background: #a259ff;
  border-radius: 20px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.btn-primary svg {
  margin-right: 12px;
}
@media only screen and (max-width: 991px) {
  .btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.main-footer {
  padding: 40px 0;
}
.main-footer .footer-content .main-content {
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #858584;
  display: flex;
  align-items: flex-start;
}
@media only screen and (max-width: 991px) {
  .main-footer .footer-content .main-content {
    flex-direction: column;
  }
}
.main-footer .footer-content .main-content .col {
  width: 33.3333333333%;
}
@media only screen and (max-width: 991px) {
  .main-footer .footer-content .main-content .col {
    width: 100%;
    margin-bottom: 30px;
  }
  .main-footer .footer-content .main-content .col:last-child {
    margin-bottom: 0;
  }
}
.main-footer .footer-content .main-content .nft-marketPlace .logo-container {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .main-footer .footer-content .main-content .nft-marketPlace .logo-container {
    margin-bottom: 20px;
  }
}
.main-footer .footer-content .main-content .nft-marketPlace .logo-container svg {
  margin-right: 12px;
}
.main-footer .footer-content .main-content .nft-marketPlace .logo-container .logo-txt {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  /* identical to box height, or 31px */
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}
.main-footer .footer-content .main-content .nft-marketPlace .description {
  max-width: 238px;
  display: block;
  margin-bottom: 20px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #cccccc;
}
@media only screen and (max-width: 991px) {
  .main-footer .footer-content .main-content .nft-marketPlace .description {
    max-width: 100%;
  }
}
.main-footer .footer-content .main-content .nft-marketPlace .socialMedia-title {
  display: block;
  margin-bottom: 15px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #cccccc;
}
.main-footer .footer-content .main-content .nft-marketPlace .socialMedia-list {
  display: flex;
  align-items: center;
}
.main-footer .footer-content .main-content .nft-marketPlace .socialMedia-list .media-item {
  margin-right: 10px;
}
.main-footer .footer-content .main-content .nft-marketPlace .socialMedia-list .media-item:last-child {
  margin-right: 0;
}
.main-footer .footer-content .main-content .explore .nav-heading {
  margin-bottom: 25px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
  /* or 35px */
  text-transform: capitalize;
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .main-footer .footer-content .main-content .explore .nav-heading {
    margin-bottom: 20px;
  }
}
.main-footer .footer-content .main-content .explore .nav-links .link-item {
  margin-bottom: 20px;
}
.main-footer .footer-content .main-content .explore .nav-links .link-item:last-child {
  margin-bottom: 0;
}
.main-footer .footer-content .main-content .explore .nav-links .link-item .link {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #cccccc;
}
.main-footer .footer-content .main-content .weekly-digest .heading {
  margin-bottom: 25px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
  /* or 35px */
  text-transform: capitalize;
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .main-footer .footer-content .main-content .weekly-digest .heading {
    margin-bottom: 20px;
  }
}
.main-footer .footer-content .main-content .weekly-digest .description {
  max-width: 330px;
  display: block;
  margin-bottom: 20px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #cccccc;
}
@media only screen and (max-width: 991px) {
  .main-footer .footer-content .main-content .weekly-digest .description {
    max-width: 100%;
    font-size: 16px;
    line-height: 140%;
  }
}
.main-footer .footer-content .main-content .weekly-digest .subscribe-form {
  width: 100%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 575px) {
  .main-footer .footer-content .main-content .weekly-digest .subscribe-form {
    flex-direction: column;
  }
}
.main-footer .footer-content .main-content .weekly-digest .subscribe-form input {
  flex-grow: 1;
  border: 0;
  outline: none;
  background: #ffffff;
  border-radius: 20px 0px 0px 20px;
  padding: 20px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  /* Background */
  color: #2b2b2b;
  position: relative;
}
@media only screen and (max-width: 575px) {
  .main-footer .footer-content .main-content .weekly-digest .subscribe-form input {
    width: 100%;
    flex-grow: 0;
    border-radius: 20px;
    margin-bottom: 16px;
    padding: 12px 20px;
  }
}
.main-footer .footer-content .main-content .weekly-digest .subscribe-form .btn-subscribe {
  position: relative;
  left: -20px;
}
@media only screen and (max-width: 575px) {
  .main-footer .footer-content .main-content .weekly-digest .subscribe-form .btn-subscribe {
    left: 0;
    width: 100%;
  }
}
.main-footer .footer-content .trademark {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  /* or 13px */
  color: #cccccc;
}

/*# sourceMappingURL=footer-1.css.map */
