/* -----------------------------------------------------------
	common
----------------------------------------------------------- */
body {
  background-color: #2b2b2b;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
br {
  margin: 0;
  padding: 0;
}

a,
button,
.btn {
  transition: all 0.4s ease;
}

a {
  text-decoration: none;
}

.over {
  transition: all 0.4s ease;
}
.over:hover {
  opacity: 0.7;
}

.container {
  min-width: 1170px;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
}
@media only screen and (max-width: 991px) {
  .container {
    padding: 0px 8px;
    min-width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 575px) {
  .container {
    padding: 0px 8px;
    min-width: 100%;
    max-width: 100%;
  }
}

.list-style-none {
  list-style: none !important;
}

.text-primary {
  color: #2c5b90 !important;
}

.btn-primary {
  padding: 20px 50px;
  display: flex;
  align-items: center;
  background: #a259ff;
  border-radius: 20px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.btn-primary svg {
  margin-right: 12px;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.main-header {
  padding: 20px 0;
  background: #2b2b2b;
  position: relative;
}
.main-header__container {
  min-width: 100%;
  max-width: 100%;
}
.main-header__container .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header__container .header-content .logo-container {
  display: flex;
  align-items: center;
}
.main-header__container .header-content .logo-container svg {
  margin-right: 12px;
}
.main-header__container .header-content .logo-container .logo-txt {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  /* identical to box height, or 31px */
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}
.main-header__container .header-content .main-nav {
  max-width: 607px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header__container .header-content .main-nav .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header__container .header-content .main-nav .nav-links .link-item {
  padding: 12px 20px;
}
.main-header__container .header-content .main-nav .nav-links .link-item .link {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  color: #ffffff;
}
@media only screen and (max-width: 767px) {
  .main-header__container .header-content .main-nav .nav-links {
    display: none;
  }
}
.main-header__container .header-content .main-nav .show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2b2b2b;
}
.main-header__container .header-content .main-nav .btn-signUp {
  padding: 20px 30px;
}
@media only screen and (max-width: 767px) {
  .main-header__container .header-content .main-nav .btn-signUp {
    display: none;
  }
}
.main-header__container .header-content .offCanvas-toggle {
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .main-header__container .header-content .offCanvas-toggle {
    display: block;
  }
}

/*# sourceMappingURL=header.css.map */
