/* -----------------------------------------------------------
	common
----------------------------------------------------------- */
body {
  background-color: #2b2b2b;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
br {
  margin: 0;
  padding: 0;
}

a,
button,
.btn {
  transition: all 0.4s ease;
}

a {
  text-decoration: none;
}

.over {
  transition: all 0.4s ease;
}
.over:hover {
  opacity: 0.7;
}

.container {
  min-width: 1170px;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
}
@media only screen and (max-width: 991px) {
  .container {
    padding: 0px 72px;
    min-width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 575px) {
  .container {
    padding: 0px 30px;
    min-width: 100%;
    max-width: 100%;
  }
}

.list-style-none {
  list-style: none !important;
}

.text-primary {
  color: #2c5b90 !important;
}

.btn-primary {
  padding: 20px 50px;
  display: flex;
  align-items: center;
  background: #a259ff;
  border-radius: 20px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.btn-primary svg {
  margin-right: 12px;
}
@media only screen and (max-width: 991px) {
  .btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.banner-section {
  padding: 80px 0;
}
.banner-section .banner-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.banner-section .banner-content .banner-left {
  width: 50%;
}
@media only screen and (max-width: 575px) {
  .banner-section .banner-content .banner-left {
    width: 100%;
  }
}
.banner-section .banner-content .banner-left .bannerTxt-container {
  max-width: 510px;
}
@media only screen and (max-width: 991px) {
  .banner-section .banner-content .banner-left .bannerTxt-container {
    max-width: 330px;
  }
}
@media only screen and (max-width: 575px) {
  .banner-section .banner-content .banner-left .bannerTxt-container {
    max-width: 100%;
  }
}
.banner-section .banner-content .banner-left .bannerTxt-container .banner-heading {
  margin-bottom: 20px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 67px;
  line-height: 110%;
  /* or 74px */
  display: flex;
  align-items: center;
  text-transform: capitalize;
  /* White */
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .banner-section .banner-content .banner-left .bannerTxt-container .banner-heading {
    font-size: 38px;
    line-height: 120%;
  }
}
@media only screen and (max-width: 575px) {
  .banner-section .banner-content .banner-left .bannerTxt-container .banner-heading {
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 140%;
  }
}
.banner-section .banner-content .banner-left .bannerTxt-container .description {
  margin-bottom: 30px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  /* or 35px */
  text-transform: capitalize;
  /* White */
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .banner-section .banner-content .banner-left .bannerTxt-container .description {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 140%;
  }
}
@media only screen and (max-width: 575px) {
  .banner-section .banner-content .banner-left .bannerTxt-container .description {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 140%;
  }
}
.banner-section .banner-content .banner-left .bannerTxt-container .banner-card {
  display: none;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 575px) {
  .banner-section .banner-content .banner-left .bannerTxt-container .banner-card {
    width: 315px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 40px;
  }
}
.banner-section .banner-content .banner-left .bannerTxt-container .banner-card .card-img {
  width: 510px;
  height: 401px;
}
@media only screen and (max-width: 575px) {
  .banner-section .banner-content .banner-left .bannerTxt-container .banner-card .card-img {
    width: 100%;
    height: 206px;
  }
}
.banner-section .banner-content .banner-left .bannerTxt-container .banner-card .card-footer {
  width: 100%;
  padding: 22px 20px;
  display: flex;
  flex-direction: column;
  background: #3b3b3b;
  border-radius: 0px 0px 20px 20px;
}
.banner-section .banner-content .banner-left .bannerTxt-container .banner-card .card-footer .footer-heading {
  margin-bottom: 10px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  /* identical to box height, or 31px */
  text-transform: capitalize;
  color: #ffffff;
}
.banner-section .banner-content .banner-left .bannerTxt-container .banner-card .card-footer .artist-tag {
  display: flex;
  align-items: center;
}
.banner-section .banner-content .banner-left .bannerTxt-container .banner-card .card-footer .artist-tag .artist-avatar {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
.banner-section .banner-content .banner-left .bannerTxt-container .banner-card .card-footer .artist-tag .artist-name {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #ffffff;
}
.banner-section .banner-content .banner-left .bannerTxt-container .btn-getStarted {
  margin-bottom: 30px;
}
@media only screen and (max-width: 991px) {
  .banner-section .banner-content .banner-left .bannerTxt-container .btn-getStarted {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 575px) {
  .banner-section .banner-content .banner-left .bannerTxt-container .btn-getStarted {
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.banner-section .banner-content .banner-left .bannerTxt-container .statistics-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-section .banner-content .banner-left .bannerTxt-container .statistics-container .stat {
  width: calc((100% - 60px) / 3);
  display: flex;
  flex-direction: column;
}
.banner-section .banner-content .banner-left .bannerTxt-container .statistics-container .stat .stat-number {
  display: inline-block;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  /* or 39px */
  display: flex;
  align-items: center;
  text-transform: capitalize;
  /* White */
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .banner-section .banner-content .banner-left .bannerTxt-container .statistics-container .stat .stat-number {
    font-size: 22px;
    line-height: 160%;
  }
}
.banner-section .banner-content .banner-left .bannerTxt-container .statistics-container .stat .stat-txt {
  display: inline-block;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 23.99px;
  line-height: 160%;
  /* or 38px */
  text-transform: capitalize;
  /* White */
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .banner-section .banner-content .banner-left .bannerTxt-container .statistics-container .stat .stat-txt {
    font-size: 16px;
    line-height: 140%;
  }
}
.banner-section .banner-content .banner-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 575px) {
  .banner-section .banner-content .banner-right {
    display: none;
  }
}
.banner-section .banner-content .banner-right .banner-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-section .banner-content .banner-right .banner-card .card-img {
  width: 510px;
  height: 401px;
}
@media only screen and (max-width: 991px) {
  .banner-section .banner-content .banner-right .banner-card .card-img {
    width: 330px;
    height: 221px;
  }
}
.banner-section .banner-content .banner-right .banner-card .card-footer {
  width: 100%;
  padding: 22px 20px;
  display: flex;
  flex-direction: column;
  background: #3b3b3b;
  border-radius: 0px 0px 20px 20px;
}
.banner-section .banner-content .banner-right .banner-card .card-footer .footer-heading {
  margin-bottom: 10px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  /* identical to box height, or 31px */
  text-transform: capitalize;
  color: #ffffff;
}
.banner-section .banner-content .banner-right .banner-card .card-footer .artist-tag {
  display: flex;
  align-items: center;
}
.banner-section .banner-content .banner-right .banner-card .card-footer .artist-tag .artist-avatar {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
.banner-section .banner-content .banner-right .banner-card .card-footer .artist-tag .artist-name {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #ffffff;
}

.trendingCollection-section {
  padding: 80px 0;
}
@media only screen and (max-width: 991px) {
  .trendingCollection-section {
    padding: 40px 0;
  }
}
.trendingCollection-section .trendingCollection-content .section-heading {
  margin-bottom: 10px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  /* identical to box height, or 46px */
  text-transform: capitalize;
  /* White */
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .trendingCollection-section .trendingCollection-content .section-heading {
    font-size: 28px;
    line-height: 140%;
  }
}
.trendingCollection-section .trendingCollection-content .section-subHeading {
  margin-bottom: 60px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  /* or 35px */
  text-transform: capitalize;
  /* White */
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .trendingCollection-section .trendingCollection-content .section-subHeading {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 140%;
  }
}
.trendingCollection-section .trendingCollection-content .collectionCards-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}
.trendingCollection-section .trendingCollection-content .collectionCards-container .collection-card {
  width: calc((100% - 60px) / 3);
}
@media only screen and (max-width: 991px) {
  .trendingCollection-section .trendingCollection-content .collectionCards-container .collection-card {
    width: calc((100% - 30px) / 2);
  }
}
@media only screen and (max-width: 575px) {
  .trendingCollection-section .trendingCollection-content .collectionCards-container .collection-card {
    width: 100%;
  }
}
.trendingCollection-section .trendingCollection-content .collectionCards-container .collection-card .primary-img {
  margin-bottom: 15px;
  width: 100%;
  height: 330px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.trendingCollection-section .trendingCollection-content .collectionCards-container .collection-card .secondaryImg-container {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trendingCollection-section .trendingCollection-content .collectionCards-container .collection-card .secondaryImg-container .secondary-img {
  width: calc((100% - 30px) / 3);
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.trendingCollection-section .trendingCollection-content .collectionCards-container .collection-card .secondaryImg-container .full-collection {
  background: #a259ff;
  border-radius: 20px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
  /* or 35px */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}
.trendingCollection-section .trendingCollection-content .collectionCards-container .collection-card .card-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.trendingCollection-section .trendingCollection-content .collectionCards-container .collection-card .card-footer .footer-heading {
  margin-bottom: 10px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  /* identical to box height, or 31px */
  text-transform: capitalize;
  color: #ffffff;
}
.trendingCollection-section .trendingCollection-content .collectionCards-container .collection-card .card-footer .artist-tag {
  display: flex;
  align-items: center;
}
.trendingCollection-section .trendingCollection-content .collectionCards-container .collection-card .card-footer .artist-tag .artist-avatar {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
.trendingCollection-section .trendingCollection-content .collectionCards-container .collection-card .card-footer .artist-tag .artist-name {
  flex-grow: 1;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #ffffff;
}

.topCreators-section {
  padding: 80px 0;
}
@media only screen and (max-width: 991px) {
  .topCreators-section {
    padding: 40px 0;
  }
}
.topCreators-section .section-content .section-header {
  margin-bottom: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
@media only screen and (max-width: 991px) {
  .topCreators-section .section-content .section-header {
    margin-bottom: 40px;
  }
}
.topCreators-section .section-content .section-header .txt-container {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 991px) {
  .topCreators-section .section-content .section-header .txt-container {
    max-width: 50%;
  }
}
@media only screen and (max-width: 575px) {
  .topCreators-section .section-content .section-header .txt-container {
    max-width: 100%;
  }
}
.topCreators-section .section-content .section-header .txt-container .section-heading {
  margin-bottom: 10px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  /* identical to box height, or 46px */
  text-transform: capitalize;
  /* White */
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .topCreators-section .section-content .section-header .txt-container .section-heading {
    font-size: 28px;
    line-height: 140%;
  }
}
.topCreators-section .section-content .section-header .txt-container .section-subHeading {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  /* or 35px */
  text-transform: capitalize;
  /* White */
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .topCreators-section .section-content .section-header .txt-container .section-subHeading {
    font-size: 16px;
    line-height: 140%;
  }
}
.topCreators-section .section-content .section-header .btn-ranking {
  background: transparent;
  border: 2px solid #a259ff;
}
@media only screen and (max-width: 575px) {
  .topCreators-section .section-content .section-header .btn-ranking {
    display: none;
  }
}
.topCreators-section .section-content .cards-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.topCreators-section .section-content .cards-container .card {
  width: calc((100% - 90px) / 4);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #3b3b3b;
  border-radius: 20px;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .topCreators-section .section-content .cards-container .card {
    width: calc((100% - 30px) / 2);
    flex-direction: row;
  }
}
@media only screen and (max-width: 575px) {
  .topCreators-section .section-content .cards-container .card {
    width: 100%;
    flex-direction: row;
  }
}
.topCreators-section .section-content .cards-container .card .ranking-number {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 18px;
  left: 20px;
  background: #2b2b2b;
  border-radius: 20px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  display: flex;
  align-items: center;
  text-align: center;
  /* Caption & Label Text */
  color: #858584;
}
@media only screen and (max-width: 991px) {
  .topCreators-section .section-content .cards-container .card .ranking-number {
    top: 13px;
    left: 12px;
  }
}
.topCreators-section .section-content .cards-container .card .artist-avatar {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 991px) {
  .topCreators-section .section-content .cards-container .card .artist-avatar {
    width: 60px;
    height: 60px;
    margin-bottom: 0;
    margin-right: 20px;
  }
}
.topCreators-section .section-content .cards-container .card .artist-info .artist-name {
  margin-bottom: 5px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  /* identical to box height, or 31px */
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .topCreators-section .section-content .cards-container .card .artist-info .artist-name {
    text-align: left;
  }
}
.topCreators-section .section-content .cards-container .card .artist-info .total-sales {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topCreators-section .section-content .cards-container .card .artist-info .total-sales .title {
  margin-right: 10px;
  display: block;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: right;
  /* Caption & Label Text */
  color: #858584;
}
@media only screen and (max-width: 991px) {
  .topCreators-section .section-content .cards-container .card .artist-info .total-sales .title {
    margin-right: 5px;
  }
}
.topCreators-section .section-content .cards-container .card .artist-info .total-sales .amount {
  display: block;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  /* Text */
  color: #ffffff;
}

.browseCategories-section {
  padding: 80px 0;
}
@media only screen and (max-width: 991px) {
  .browseCategories-section {
    padding: 40px 0;
  }
}
.browseCategories-section .section-content .section-heading {
  margin-bottom: 60px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  /* identical to box height, or 46px */
  text-transform: capitalize;
  /* White */
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .browseCategories-section .section-content .section-heading {
    margin-bottom: 40px;
    font-size: 28px;
    line-height: 140%;
  }
}
.browseCategories-section .section-content .cards-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media only screen and (max-width: 575px) {
  .browseCategories-section .section-content .cards-container {
    gap: 20px;
  }
}
.browseCategories-section .section-content .cards-container .card {
  width: calc((100% - 90px) / 4);
  cursor: pointer;
}
@media only screen and (max-width: 575px) {
  .browseCategories-section .section-content .cards-container .card {
    width: calc((100% - 20px) / 2);
  }
}
.browseCategories-section .section-content .cards-container .card .image-icon {
  width: 240px;
  height: 240px;
  background: rgba(255, 255, 255, 0.1);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px 20px 0px 0px;
  border: none;
  position: relative;
}
.browseCategories-section .section-content .cards-container .card .image-icon::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  backdrop-filter: blur(7.5px);
  z-index: 2;
}
@media only screen and (max-width: 991px) {
  .browseCategories-section .section-content .cards-container .card .image-icon {
    width: 150px;
    height: 142px;
  }
}
@media only screen and (max-width: 575px) {
  .browseCategories-section .section-content .cards-container .card .image-icon {
    width: 148px;
    height: 142px;
  }
}
.browseCategories-section .section-content .cards-container .card .image-icon .image {
  width: 100%;
  height: 100%;
}
.browseCategories-section .section-content .cards-container .card .image-icon .image img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0px 0px;
}
.browseCategories-section .section-content .cards-container .card .image-icon .icon {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 991px) {
  .browseCategories-section .section-content .cards-container .card .image-icon .icon svg {
    width: 80px;
    height: 80px;
  }
}
.browseCategories-section .section-content .cards-container .card .card-footer {
  width: 240px;
  padding: 20px 30px 25px 30px;
  background: #3b3b3b;
  border-radius: 0 0 20px 20px;
}
@media only screen and (max-width: 991px) {
  .browseCategories-section .section-content .cards-container .card .card-footer {
    padding: 20px 20px 25px 20px;
    width: 150px;
  }
}
@media only screen and (max-width: 575px) {
  .browseCategories-section .section-content .cards-container .card .card-footer {
    padding: 20px 20px 25px 20px;
    width: 148px;
  }
}
.browseCategories-section .section-content .cards-container .card .card-footer .footer-heading {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  /* identical to box height, or 31px */
  text-transform: capitalize;
  /* White */
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .browseCategories-section .section-content .cards-container .card .card-footer .footer-heading {
    font-size: 16px;
  }
}

.discover-section {
  padding: 80px 0;
}
@media only screen and (max-width: 991px) {
  .discover-section {
    padding: 40px 0 50px 0;
  }
}
@media only screen and (max-width: 575px) {
  .discover-section {
    padding: 40px 0 60px 0;
  }
}
.discover-section .section-content .section-header {
  margin-bottom: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
@media only screen and (max-width: 991px) {
  .discover-section .section-content .section-header {
    margin-bottom: 40px;
  }
}
.discover-section .section-content .section-header .txt-container {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 991px) {
  .discover-section .section-content .section-header .txt-container {
    max-width: 50%;
  }
}
@media only screen and (max-width: 575px) {
  .discover-section .section-content .section-header .txt-container {
    max-width: 100%;
  }
}
.discover-section .section-content .section-header .txt-container .section-heading {
  margin-bottom: 10px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  /* identical to box height, or 46px */
  text-transform: capitalize;
  /* White */
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .discover-section .section-content .section-header .txt-container .section-heading {
    font-size: 28px;
    line-height: 140%;
  }
}
.discover-section .section-content .section-header .txt-container .section-subHeading {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  /* or 35px */
  text-transform: capitalize;
  /* White */
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .discover-section .section-content .section-header .txt-container .section-subHeading {
    font-size: 16px;
    line-height: 140%;
  }
}
.discover-section .section-content .section-header .btn-seeAll {
  background: transparent;
  border: 2px solid #a259ff;
}
@media only screen and (max-width: 575px) {
  .discover-section .section-content .section-header .btn-seeAll {
    display: none;
  }
}
.discover-section .section-content .cards-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.discover-section .section-content .cards-container .card {
  width: calc((100% - 60px) / 3);
}
@media only screen and (max-width: 991px) {
  .discover-section .section-content .cards-container .card {
    width: calc((100% - 30px) / 2);
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .discover-section .section-content .cards-container .card {
    width: 100%;
    margin-bottom: 20px;
  }
}
.discover-section .section-content .cards-container .card .img-container {
  width: 100%;
  height: 296px;
}
@media only screen and (max-width: 991px) {
  .discover-section .section-content .cards-container .card .img-container {
    height: 295px;
  }
}
@media only screen and (max-width: 575px) {
  .discover-section .section-content .cards-container .card .img-container {
    height: 238px;
  }
}
.discover-section .section-content .cards-container .card .img-container img {
  width: 100%;
  height: 100%;
}
.discover-section .section-content .cards-container .card .card-footer {
  width: 100%;
  padding: 20px 30px 25px 30px;
  background: #3b3b3b;
  border-radius: 0 0 20px 20px;
}
@media only screen and (max-width: 575px) {
  .discover-section .section-content .cards-container .card .card-footer {
    padding: 20px 20px 25px 20px;
  }
}
.discover-section .section-content .cards-container .card .card-footer .card-heading {
  margin-bottom: 5px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  /* identical to box height, or 31px */
  text-transform: capitalize;
  /* White */
  color: #ffffff;
}
.discover-section .section-content .cards-container .card .card-footer .author {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
.discover-section .section-content .cards-container .card .card-footer .author .avatar {
  margin-right: 12px;
  width: 24px;
  height: 24px;
}
.discover-section .section-content .cards-container .card .card-footer .author .name {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  /* White */
  color: #ffffff;
}
.discover-section .section-content .cards-container .card .card-footer .price-bid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.discover-section .section-content .cards-container .card .card-footer .price-bid .price-container .title {
  display: block;
  margin-bottom: 8px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  /* or 13px */
  color: #858584;
}
.discover-section .section-content .cards-container .card .card-footer .price-bid .price-container .price {
  display: block;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  /* White */
  color: #ffffff;
}
.discover-section .section-content .cards-container .card .card-footer .price-bid .bid-container .title {
  display: block;
  margin-bottom: 8px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  /* or 13px */
  color: #858584;
  text-align: end;
}
.discover-section .section-content .cards-container .card .card-footer .price-bid .bid-container .price {
  display: block;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  /* White */
  color: #ffffff;
}
.discover-section .section-content .cards-container .btn-seeAll {
  display: none;
  width: 100%;
  background: transparent;
  border: 2px solid #a259ff;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 575px) {
  .discover-section .section-content .cards-container .btn-seeAll {
    display: flex;
    margin-top: 20px;
  }
}

.auction-section {
  background-image: url("../images/Homepage/auction-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 640px;
  border: 1px solid red;
}
.auction-section::before {
  content: "";
  background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  border: 2px solid green;
}
.auction-section .test {
  position: relative;
  height: 100%;
}
.auction-section .content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  border: 3px solid tomato;
  z-index: 3;
}
.auction-section .content-wrapper .section-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border: 3px solid blue;
}
.auction-section .content-wrapper .section-content .nft-summary .artist-card {
  max-width: 151px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #3b3b3b;
  border-radius: 20px;
}
.auction-section .content-wrapper .section-content .nft-summary .artist-card .avatar {
  margin-right: 12px;
  height: 24px;
  width: 24px;
}
.auction-section .content-wrapper .section-content .nft-summary .artist-card .name {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #ffffff;
}
.auction-section .content-wrapper .section-content .nft-summary .section-heading {
  margin-bottom: 30px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 51px;
  line-height: 110%;
  /* or 56px */
  text-transform: capitalize;
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .auction-section .content-wrapper .section-content .nft-summary .section-heading {
    font-size: 38px;
    line-height: 120%;
  }
}
.auction-section .content-wrapper .section-content .nft-summary .btn-seeNFT {
  background: #ffffff;
  color: #2b2b2b;
}
.auction-section .content-wrapper .section-content .timeRemaining-card {
  background: rgba(59, 59, 59, 0.5);
  border-radius: 20px;
}

.howItWorks-section {
  padding: 80px 0;
}
@media only screen and (max-width: 991px) {
  .howItWorks-section {
    padding: 40px 0 23px 0;
  }
}
@media only screen and (max-width: 575px) {
  .howItWorks-section {
    padding: 40px 0;
  }
}
.howItWorks-section .section-content .section-heading {
  margin-bottom: 10px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  /* identical to box height, or 46px */
  text-transform: capitalize;
  /* White */
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .howItWorks-section .section-content .section-heading {
    font-size: 28px;
    line-height: 140%;
  }
}
.howItWorks-section .section-content .section-subHeading {
  display: inline-block;
  margin-bottom: 48px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  /* or 35px */
  text-transform: capitalize;
  /* White */
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .howItWorks-section .section-content .section-subHeading {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 140%;
  }
}
.howItWorks-section .section-content .cards-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.howItWorks-section .section-content .cards-container .card {
  width: calc((100% - 60px) / 3);
  padding: 10px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #3b3b3b;
  border-radius: 20px;
}
@media only screen and (max-width: 991px) {
  .howItWorks-section .section-content .cards-container .card {
    padding: 10px 20px 30px 20px;
  }
}
@media only screen and (max-width: 575px) {
  .howItWorks-section .section-content .cards-container .card {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    flex-direction: row;
  }
  .howItWorks-section .section-content .cards-container .card:last-child {
    margin-bottom: 0;
  }
}
.howItWorks-section .section-content .cards-container .card .card-img {
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 991px) {
  .howItWorks-section .section-content .cards-container .card .card-img {
    width: 160px;
    height: 160px;
  }
}
@media only screen and (max-width: 575px) {
  .howItWorks-section .section-content .cards-container .card .card-img {
    width: 100px;
    height: 100px;
    margin-bottom: 0;
    margin-right: 20px;
  }
}
.howItWorks-section .section-content .cards-container .card .txt-container .card-heading {
  margin-bottom: 10px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  /* identical to box height, or 31px */
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .howItWorks-section .section-content .cards-container .card .txt-container .card-heading {
    font-size: 16px;
    line-height: 140%;
  }
}
@media only screen and (max-width: 575px) {
  .howItWorks-section .section-content .cards-container .card .txt-container .card-heading {
    text-align: start;
  }
}
.howItWorks-section .section-content .cards-container .card .txt-container .card-description {
  min-height: 88px;
  max-width: 270px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  /* White */
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .howItWorks-section .section-content .cards-container .card .txt-container .card-description {
    font-size: 12px;
  }
}
@media only screen and (max-width: 575px) {
  .howItWorks-section .section-content .cards-container .card .txt-container .card-description {
    text-align: start;
  }
}

.newsSubscription-section {
  padding: 40px 0 80px 0;
}
@media only screen and (max-width: 575px) {
  .newsSubscription-section {
    padding: 40px 0;
  }
}
.newsSubscription-section .subscription-card {
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #3b3b3b;
  border-radius: 20px;
}
@media only screen and (max-width: 991px) {
  .newsSubscription-section .subscription-card {
    padding: 40px 30px;
  }
}
@media only screen and (max-width: 575px) {
  .newsSubscription-section .subscription-card {
    padding: 0;
    flex-direction: column;
    background: none;
    border-radius: 0;
  }
}
.newsSubscription-section .subscription-card .card-left {
  width: 50%;
}
@media only screen and (max-width: 575px) {
  .newsSubscription-section .subscription-card .card-left {
    width: 100%;
  }
}
.newsSubscription-section .subscription-card .card-left .card-img {
  width: 425px;
  height: 310px;
  border-radius: 20px;
}
@media only screen and (max-width: 991px) {
  .newsSubscription-section .subscription-card .card-left .card-img {
    width: 300px;
    height: 280px;
  }
}
@media only screen and (max-width: 575px) {
  .newsSubscription-section .subscription-card .card-left .card-img {
    width: 100%;
    height: 255px;
    margin-bottom: 30px;
  }
}
.newsSubscription-section .subscription-card .card-right {
  width: 50%;
}
@media only screen and (max-width: 575px) {
  .newsSubscription-section .subscription-card .card-right {
    width: 100%;
  }
}
.newsSubscription-section .subscription-card .card-right .card-heading {
  max-width: 425px;
  margin-bottom: 10px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  /* or 46px */
  text-transform: capitalize;
  /* White */
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .newsSubscription-section .subscription-card .card-right .card-heading {
    max-width: 300px;
    font-size: 28px;
    line-height: 140%;
  }
}
.newsSubscription-section .subscription-card .card-right .card-description {
  display: block;
  max-width: 425px;
  margin-bottom: 40px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  /* or 35px */
  text-transform: capitalize;
  /* White */
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .newsSubscription-section .subscription-card .card-right .card-description {
    font-size: 16px;
    line-height: 140%;
  }
}
.newsSubscription-section .subscription-card .card-right .subscribe-form {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .newsSubscription-section .subscription-card .card-right .subscribe-form {
    flex-direction: column;
  }
}
.newsSubscription-section .subscription-card .card-right .subscribe-form input {
  flex-grow: 1;
  border: 0;
  outline: none;
  background: #ffffff;
  border-radius: 20px 0px 0px 20px;
  padding: 20px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  /* Background */
  color: #2b2b2b;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .newsSubscription-section .subscription-card .card-right .subscribe-form input {
    width: 100%;
    flex-grow: 0;
    border-radius: 20px;
    margin-bottom: 16px;
    padding: 12px 20px;
  }
}
.newsSubscription-section .subscription-card .card-right .subscribe-form .btn-subscribe {
  position: relative;
  left: -20px;
}
@media only screen and (max-width: 991px) {
  .newsSubscription-section .subscription-card .card-right .subscribe-form .btn-subscribe {
    left: 0;
    width: 100%;
  }
}

/*# sourceMappingURL=home-1.css.map */
